.header {
    padding: 15px 15px 10px 15px;
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    background: rgba(240, 240, 240, 0.97);
}

.header .logo {
    width: 70px;
    height: 45px;
    float: left;
}
