.fipe-modal {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 15%;
    text-align: center;
    color: #fff;
    padding: 15px 0 40px 0;
    right: 10px;
    left: 10px;
    background: rgba(35, 35, 35, 0.9);
    border-radius: 25px;
    min-height: 280px;
    transition: opacity 0.5s linear, visibility 0.3s;
    margin-bottom: 100px;
}

.fipe-modal.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.fipe-modal h2 {
    font-size: 22px;
}

.modal-block label {
    display: block;
    font-size: 18px;
    padding: 15px 0;
    text-align: center;
}

.modal-block input {
    border-radius: 30px;
    border: none;
    outline-color: transparent;
    padding: 10px;
    max-width: 280px;
    width: 100%;
    box-sizing: border-box;
}

.overlay {
    background: red;
    width: 100%;
    height: 100%;
}

.fipe-modal .modal-block {
    position: absolute;
    margin: 30px auto;
    min-width: 100%;
}

.modal-block h3 {
    font-size: 20px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.modal-block button {
    border: none;
    outline-color: transparent;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    max-width: 280px;
    cursor: pointer;
    background: rgba(240, 240, 240, 0.97);
}

.vehicle-data {
    left: -100%;
    transition: left 0.5s ease-in;
}

.type-search input {
    text-transform: uppercase;
}

.type-search {
    left: 0;
    transition: left 0.5s ease-in;
}

.type-search.hide {
    left: -100%;
    transition: left 0.5s ease-in;
}

.vehicle-data.show {
    left: 0;
    transition: left 0.5s ease-in;
}
